[submodule "xen"]
	path = xen
	url = https://github.com/tklengyel/xen
	ignore = dirty
[submodule "libvmi"]
	path = libvmi
	url = https://github.com/tklengyel/libvmi
	ignore = dirty
[submodule "xen-arm"]
	path = xen-arm
	url = https://github.com/sergej-proskurin/xen.git
	branch = arm-altp2m-drakvuf
